#styles li{
    color: #fab;
    list-style: circle url(favicon.ico) inside;
    padding: 5px;
    border: 1px solid #fba;
    
}
#styles li:hover{
    background: #050;
}


.poster{
    position:relative;
    margin:auto;
    background:#ff6600;
    height:20px;
    width:150px;
}
.descr{
    display:none;
    margin-left:20px;
    padding:10px;
    margin-top:10px;
    background:#f3f3f3;
    height:30px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
.poster:hover .descr{
    display:block;
    position:relative;
    top:15px;
    z-index:9999;
    width:400px;
}